# Files with potential sensitive information
.env
.env.ps1

# Draw io files
**.bkp
**.dtmp

# go task caching
.task/

# macOS finder stuff
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# manually ignored files
*.ignore

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Ignore binary output folder
bin/
**/bin/**
